<p>The incredible IBM i on Power!</p>
<img class="logo" src="assets/img/ibmi.jpg" alt="IBM i" height="300" width="200">
<p>The platform was first introduced as the AS/400 (Application System/400) in June 1988, with the operating system being called OS/400. In 2000, it was renamed to the eServer iSeries (with the 400 sometimes added[1]). As part of IBM's re-branding initiative in 2006, it was again renamed to System i, and the operating system was renamed to IBM i.

In April 2008, IBM announced its integration with the System p platform. The unified product line is called IBM Power Systems and features support for the AIX and GNU/Linux operating systems as well as for IBM i.</p>
